[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pytest = "*"
pytest-xdist = "*"
pytest-instafail = "*"
pytest-cov = "*"
pytest-timeout = "*"
pytest-picked = "*"
pylint = "*"
flake8 = "*"
flake8-bugbear = "*"
flake8-builtins = "*"
flake8-comprehensions = "*"
flake8-string-format = "*"
pydocstyle = "*"
pytest-pythonpath = "*"
mypy = "*"
isort = "*"
flit = "*"
rope = "*"
autopep8 = "*"
black = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
